@model APTector.Models.Tactic
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewBag.Title = "Create Tactic";
    var matrices = ViewBag.Matrices as List<APTector.Models.Matrix>;
}

<h2>Create Tactic</h2>

<form method="post" asp-action="Create">
    <div>
        <label>Tactic Id (например, TA0001):</label>
        <input asp-for="Id" />
    </div>
    <div>
        <label>Name:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Matrix:</label>
        <select asp-for="MatrixId" asp-items="@(new SelectList(matrices, "Id", "MatrixName"))">
            <option value="">-- Select Matrix --</option>
        </select>
    </div>
    <button type="submit">Save</button>
</form>
